<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
        <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<header>
    <div class="header">
        <div class="logo">
            <img class="logo_icon" src="/images/лого.png" alt="Logo">
        </div>
        <div class="navigation">
            <img class="navigation_icon" src="/images/навигация.png" alt="navigation">
            <p>вул. Лабораторна 1/62 літ.А <br> м.Київ, Україна, 03150</p>
        </div>
        <div class="phone">
            <img class="phone_icon" src="/images/трубка.png" alt="phone">
            <p>044 521-20-74</p>
        </div>
        <div class="email">
            <img class="email_icon" src="/images/пошта.png" alt="email">
            <a href="cpk@kyivcity.gov.ua">cpk@kyivcity.gov.ua</a>
        </div>
    </div>
</header>
<div class="links">
    <div class="link">
        <a href="https://cpk.org.ua/">Повернутися на головну</a>
        <a href="https://cpk.org.ua/online-lessons/">Онлайн навчання</a>
        <a href="https://cpk.org.ua/testing/">Онлайн тестування</a>
        <a href="https://cpk.org.ua/metodychne-zabezpechennya/">Методичне забезпечення</a>
</div>
</div>
<div class="test_theme">
</div>

<div class="testing">
    <div class="testing_form">
        <form action="test" method="post">
            <h2>Для проходження тесту введіть будь ласка своє прізвище, ім'я, по батькові</h2>
            <label for="username">Введіть ПІБ</label>
            <input type="text" name="username" id="username" placeholder="ПІБ" required>
            <button class="testing_btn" type="submit">Розпочати тестування</button>
        </form>
    </div>
</div>
</body>
</html>